@using comment_y_aller.Models;
@{
    ViewData["Title"] = "Coordonnées";
    String advice;
    MapsRootObject Route = (MapsRootObject)ViewData["Route"];
    int dureeTotale = 0;
    for(int i =0; i < Route.routes[0].legs.Count();i++)
    {
        dureeTotale = dureeTotale + Route.routes[0].legs[i].duration.value;
    }
    int dureeEnMinutes = dureeTotale / 60;

    switch (ViewData["mode"])
    {
        case "bicycling":
            advice = "vélib";
            break;
        case "driving":
            advice = "autolib";
            break;
        default:
            advice = "téléportation";
            break;
    }
}

<h2>Je te conseille d'y aller en
    @advice
    ! Durée:
    @dureeEnMinutes minutes
    </h2>


<h3>Instructions: </h3>

    @foreach (Route route in Route.routes)
    {
        @foreach (Leg leg in route.legs)
        {
            @if(leg.steps[0].travel_mode== "DRIVING")
            {
                <h3>Tu es arrivé à la station Autolib.
                    Voici le chemin que tu vas suivre en voiture (durée: @leg.duration.text.ToString()):</h3>

            }
            @if (leg.steps[0].travel_mode == "BICYCLING")
            {
                <h3>Tu es arrivé à la station Vélib.
                    Voici le chemin que tu vas suivre en vélo (durée: @leg.duration.text.ToString()):</h3>

            }
            @if (leg.steps[0].travel_mode == "TRANSIT")
            {
                <h3>Tu es arrivé à la station Métro.
                    Voici le chemin que tu vas suivre en train (durée: @leg.duration.text.ToString()):</h3>

            }
            @if (leg.steps[0].travel_mode == "WALKING")
            {
                <h3>Marche à pied (durée: @leg.duration.text.ToString())</h3>

            }
            @foreach (Step step in leg.steps)
            {
                <p>@Html.Raw(step.html_instructions)</p>
            }
        }
    }